
.container-fluid {

    background-color: #4D346F;
}

.colGreen {

    background-color: green;
}

.colBlue {

    background-color: blue;
}

.colRed {

    background-color: red;
}

.colGrey {

    background-color: grey;
}

.colBrown {

    background-color: brown;
}